::selection {
  background: #484848;
  color: grey; }

body {
  height: auto; }

#outer {
  width: 1000px;
  margin: 0 auto; }

header {
  border: 1px solid #000000;
  height: 200px; }

h3 {
  border-bottom: 1px solid #000000; }

nav {
  border: 1px solid #000000;
  height: 50px;
  cursor: wait; }
  nav ul {
    list-style-type: none; }
  nav a {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease; }
  nav a:hover {
    cursor: url("../img/cursor.png"), default;
    color: green; }

nav ul li,
footer ul li {
  float: left;
  margin: 0 5px 0; }

aside {
  float: left;
  margin: 10px 0 10px 0;
  width: 20%;
  height: auto;
  background-color: red; }
  aside b:hover {
    visibility: hidden; }

p.class-first-line:first-line {
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.8em;
  word-spacing: 10px;
  line-height: 70px;
  color: red; }

p.class-first-letter:first-letter {
  font-family: cursive;
  font-style: oblique;
  font-size: 2em;
  font-weight: bold;
  color: red; }

a[href^="http"]:before {
  content: url("../img/cursor.png"); }

footer {
  float: left;
  width: 100%;
  border: 1px solid #000000; }

.content {
  float: left;
  margin: 10px 0 10px 0;
  width: 80%; }

.full-content {
  float: left;
  margin: 10px 1% 10px;
  width: 78%;
  background-color: yellow; }

.half-content {
  float: left;
  margin: 10px 1% 10px;
  width: 48%;
  background-color: green; }

.clear-float {
  float: none;
  margin: 0px;
  width: 0px;
  font-size: 0px;
  padding: 0px;
  clear: both;
  height: 0px;
  border: 0px none;
  line-height: 0px; }

.clear-left {
  clear: left; }

.clear-right {
  float: none;
  clear: right; }

.float-right {
  float: right; }

.clip-test {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }

.clip-test:hover {
  -webkit-clip-path: ellipse(30% 50% at 50% 50%);
  clip-path: ellipse(30% 50% at 50% 50%); }

.display-block {
  display: block; }

.display-inline {
  display: inline; }

.z-test {
  z-index: 2; }

.back-to-top-button {
  position: fixed;
  top: 25%;
  right: 5%; }

form, input, fieldset {
  margin: 5px 5px 5px 5px; }

form > input:disabled {
  background-color: red !important; }

form input:enabled {
  font-size: 20px; }

form input:checked {
  margin-left: 30px; }

form input:indeterminate {
  margin-left: 15px; }

form input:default {
  font-family: "Pacifico"; }

form input:required {
  margin-left: 30px; }

form input:optional {
  background-color: grey; }

form input:valid {
  background-color: green; }

form input:invalid {
  background-color: red; }

form input:in-range {
  background-color: green; }

form input:out-of-range {
  background-color: red; }

::target {
  background-color: blue; }

.no-cssgradients #top {
  background-image: url("../img/gradient.png"); }

.cssgradients #top {
  background-image: -webkit-linear-gradient(bottom, black, #fe00fe);
  background-image: -o-linear-gradient(bottom, black, #fe00fe);
  background-image: -moz-linear-gradient(bottom, black, #fe00fe);
  background-image: linear-gradient(bottom, black, #fe00fe); }

ul li + li a.adjacent {
  color: green; }

li ~ li {
  color: green; }

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
.font-test {
  font-family: "Pacifico"; }

/*# sourceMappingURL=master.css.map */
